Repository uwblueprint/water-festival, pull requests merged in 2018-04, with the labels that each got.

#163 Move banner heading for closed activities + Adjust activity badge
  app/components/activity/ActivityDetails.js
  app/components/activity/MyScheduleTile.js
  app/styles/ActivityStyles.js
Labels: Client App, Frontend

#174 Update edit name
  app/LoggedIn.js
  app/actions.js
  app/components/home/Home.js
  app/components/settings/Settings.js
  app/reducers.js
Labels: Client App, enhancement

#177 Change object merge to hardset
  App.js
  app.json
  app/reducers.js
Labels: Client App, enhancement

#180 Remove redux persist
  App.js
  app.json
  app/images/push_logo.png
  app/images/splash.png
  app/reducers.js
  app/screens/LoadingScreen.js
  package-lock.json
  package.json
Labels: enhancement
